flask==3.0.0
gunicorn==21.2.0
python-dotenv==1.0.0
langchain
langchain-google-genai
langchain-community
langchain-text-splitters
chromadb
sentence-transformers
PyPDF2
python-docx
python-pptx
Werkzeug==3.0.1
